# Python gereksizleri
__pycache__/
*.pyc
*.ipynb_checkpoints/

# Sanal Ortam (Herkes kendi kurmalı)
venv/
env/


# Sistem dosyaları
.DS_Store
Thumbs.db

# Hassas Bilgiler / API Keyler
.env
api_key.txt
secrets.toml